<html lang="{{ LANG }}">
<head>
    <title>{{ TITLE }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ URL }}lib/fontawesome-free-5.6.3-web/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
    {% block globalStyles %}
        <link href="{{ URL }}css/common.css" rel="stylesheet">
        <link href="{{ URL }}css/sidebar.css" rel="stylesheet">
    {% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    <div id="background"></div>
    {% include 'sidebar.twig' %}
    <div id="pageContent">
        {% block content %}{% endblock %}
    </div>
    {% block topRightButton %}{% endblock %}
    {% block popups %}{% endblock %}
    <script src="{{ URL }}lib/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    {% block globalScripts %}
        <script src="{{ URL }}js/common.js"></script>
        <script src="{{ URL }}js/sidebar.js"></script>
        <script>
            $(document).ready(function () {
                common.initStrings('{{ JS_STRINGS|json_encode|raw }}');
                common.initPath('{{ URL|raw }}');
                common.test();
            })
        </script>
    {% endblock %}
</body>
</html>
