{% extends 'base.twig' %}

{% block styles %}
    <link href="{{ URL }}css/shelf.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="shelf" data-shelfId="{{ CURRENT_SHELF }}">
        <div id="shelfTools">
            <div class="fa fa-plus"></div>
            <label for="newField"></label><input id="newField" placeholder="{{ FIELD_NEW }}">
        </div>
        <div id="shelfHeader">{{ CURRENT_SHELF_NAME }}</div>
        <div id="fieldsContainer">
            {% for field in FIELDS %}
                <div class="field" data-fieldId="{{ field.id }}">
                    <div class="fieldHeadline">{{ field.name }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block popups %}
    <div class="popupBackground hidden"></div>
    <div id="deleteShelf" class="popup hidden">
        <div class="headline">{{ DELETE_SHELF_HEADLINE }}</div>
        <div class="text">{{ DELETE_SHELF_MESSAGE_1 }}</div>
        <div class="text">{{ DELETE_SHELF_MESSAGE_2 }}</div>
        <div class="confirmation">
            <button class="yes">{{ DELETE_YES }}</button>
            <button class="no">{{ DELETE_NO }}</button>
        </div>
    </div>
    <div id="deleteField" class="popup hidden">
        <div class="headline">{{ DELETE_FIELD_HEADLINE }}</div>
        <div class="text">{{ DELETE_FIELD_MESSAGE_1 }}</div>
        <div class="text">{{ DELETE_FIELD_MESSAGE_2 }}</div>
        <div class="confirmation">
            <button class="yes">{{ DELETE_YES }}</button>
            <button class="no">{{ DELETE_NO }}</button>
        </div>
    </div>
    <div id="productFieldAdd" class="popup product hidden">
        <div class="headline">{{ PRODUCT_ADD_HEADER }}</div>
        <div class="text">{{ PRODUCT_NAME }}</div>
        <label for="productName"></label><input id="productName">
        <div class="text">{{ PRODUCT_QUANTITY }}</div>
        <label for="productQuantity"></label><input id="productQuantity">
        <div class="text">{{ PRODUCT_DATE }}</div>
        <label for="productDate"></label><input id="productDate">
        <div class="text">{{ PRODUCT_GROUP }}</div>
        <label for="productGroup"></label><input id="productGroup">
        <div class="text">{{ PRODUCT_COMMENT }}</div>
        <label for="productComment"></label><textarea id="productComment"></textarea>
        <div class="confirmation">
            <button class="yes">{{ PRODUCT_YES }}</button>
            <button class="no">{{ PRODUCT_NO }}</button>
        </div>
    </div>
    <div id="productFieldUpdate" class="popup product hidden">
        <div class="headline">{{ PRODUCT_INFORMATION }}</div>
        <div class="text">{{ PRODUCT_NAME }}</div>
        <label for="productNameUpdate"></label><input id="productNameUpdate">
        <div class="text">{{ PRODUCT_QUANTITY }}</div>
        <label for="productQuantityUpdate"></label><input id="productQuantityUpdate">
        <div class="text">{{ PRODUCT_DATE }}</div>
        <label for="productDateUpdate"></label><input id="productDateUpdate">
        <div class="text">{{ PRODUCT_GROUP }}</div>
        <label for="productGroupUpdate"></label><input id="productGroupUpdate">
        <div class="text">{{ PRODUCT_COMMENT }}</div>
        <label for="productCommentUpdate"></label><textarea id="productCommentUpdate"></textarea>
        <div class="confirmation">
            <button class="yes">{{ PRODUCT_UPDATE_YES }}</button>
            <button class="no">{{ PRODUCT_NO }}</button>
        </div>
    </div>
{% endblock %}

{% block topRightButton %}
    <div id="deleteShelfButton" data-method="deleteShelf" class="deleteButton topRightButton fa fa-trash"></div>
    <a href="{{ URL }}/warehouse">
        <div id="backButton" class="topRightButton fa fa-arrow-left"></div>
    </a>
{% endblock %}

{% block scripts %}
    <script src="{{ URL }}js/shelf.js"></script>
{% endblock %}
